@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

*::selection {
  background-color: lightgray;
  color: white;
}

.naoselecionavel {
  -webkit-touch-callout: none;  /* iPhone OS, Safari */
  -webkit-user-select: none;    /* Chrome, Safari 3 */
  -khtml-user-select: none;     /* Safari 2 */
  -moz-user-select: none;       /* Firefox */
  -ms-user-select: none;        /* IE10+ */
  user-select: none;            /* Possível implementação no futuro */
  /* cursor: default; */
}

body {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  background-color: rgb(94, 94, 94);
}

#container {
  width: 900px;
  max-height: 500px;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

header {
  background-color: lightgray;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;
  position: relative;

  width: 100%;
  height: 60px;

  font-family: 'Poppins', sans-serif;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
}

#logo-title-deco {
  font-size: 32px;
  color: rgb(37, 37, 37);
}

#logo-title {
  font-size: 18px;
  color: rgb(69, 69, 69);
}

#menu-ul {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 16px;
  color: rgb(69, 69, 69);
}

#menu-ul>li>a {
  color: rgb(69, 69, 69)
}

#menu-ul>li>a:hover, #active {
  border-bottom: 1px solid rgb(69, 69, 69);
}

#menu-ul>li>a:visited {
  color: rgb(69, 69, 69);
}

#get-now {
  border: none;
  background-image: linear-gradient(to bottom, rgb(140, 140, 140), rgb(60, 60, 60));
  padding: 8px 30px;
  border-radius: 15px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  color: white;
  font-size: 13px;
}

#get-now>a:visited {
  color: lightgray;
}

#get-now:hover {
  transform: scale(1.1);
  transition-duration: .1s;
}

#get-now:active {
  transform: scale(1);
  transition-duration: .1s;
}

main {
  background-color: white;
}

#ar-condicionado {
  background-image: url("../images/test01.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;
}

#textos {
  background-color: rgba(0,0,0,0.2);
  padding: 10px;
  color: rgb(49, 49, 49);
  border-radius: 10px;
}

#textos>h1 {
  font-size: 32px;
}

#textos>p {
  font-size: 16px;
}

#servicos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: justify;
  padding: 3rem;
}

#limpeza, #manutencao, #instalacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.icone {
  width: 80px;
  height: 80px;

  background-color: lightgray;
  border-radius: 50%;
  padding: 20px;
}

.servico-title {
  color: rgb(93, 93, 93);
  font-size: 16px;
}

.descricao {
  font-size: 12px;
  font-weight: lighter;
  width: 200px;
}

@media screen and (min-width: 1024px) {
  #container {
    min-height: 90%;
  }
}

@media screen and (max-width: 1023px) {
  #container {
    min-height: 100%;
  }
}

@media screen and (max-width: 600px) {
  #logo-title-deco {
    font-size: 26px;
  }
  #logo-title {
    font-size: 12px;
  }
  #menu-ul {
    font-size: 10px;
  }
  #get-now {
    font-size: 9px;
    padding: 6px 20px;
    border-radius: 10px;
    letter-spacing: 0px;
  }
  #textos>h1 {
    font-size: 20px;
  }
  #textos {
    padding: 5px
  }
  #textos>p {
    font-size: 11px;
  }
  #ar-condicionado {
    height: 300px;
  }
  
  #limpeza, #manutencao, #instalacao {
    padding-bottom: 3rem;
  }
  
  .icone {
    width: 60px;
    height: 60px;
    padding: 15px;
  }
  
  .servico-title {
    font-size: 12px;
  }
  
  .descricao {
    font-size: 10px;
    font-weight: lighter;
    width: 230px;
  }
}